@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


#root {
  max-width: 1280px;
  font-family: 'Outfit', sans-serif;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.patito1{
  position: absolute;
  height: 500px;
  width: auto;
  right: 0;
  transform: translateY(-50%);
}

.patito2{
  position: absolute;
  height: 500px;
  width: auto;
  left: 0;
  transform: translateY(-50%);
}

.jugarboton{
  background-color: aqua;
  color: white;
  font-weight: bolder;
  font-size: 40px;
  border-radius: 20px;
  box-shadow: #888;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  background-color: #ffffff;
  padding: 1rem;
  width: 100%;
  top:0;
  left: 0;
  position: fixed;
  z-index: 1000;
}


nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-family: 'Outfit', sans-serif;
}

.aaaa {
  width: 100px;
  height: auto;
  bottom: 0;
}
.profile-icon{
  position: absolute;
  margin-bottom: 0;
}

nav a:hover {
  filter: drop-shadow(0 0 2em #9195e3aa);
}

body {
  padding-top: 6rem; /* Añade un padding para evitar que el contenido quede debajo del navbar */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.profile-link p {
    margin: 0;
    padding: 0;
    font-size: 1rem; /* Asegúrate de que el tamaño del texto sea apropiado */
    line-height: 1; /* Ajusta la altura de línea */
}



.profile-link span {
  margin-right: 1rem; /* Añade un margen entre el icono y el texto */
}

.card {
  padding: 2em;
}

.lefttext{
  text-align: right;
}

.read-the-docs {
  color: #888;
}


.cards-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.card-item {
  background-color: #f9f9f9;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
}

.element-icon {
  width: 55px;
  height: 55px;
}