.pregame {
    width: 180%;
    margin: 0 -40%;
    padding: 20px;
    text-align: center;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pregame h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.pregame button {
    background-color: rgba(109, 109, 109, 1);
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.pregame button:hover {
    background-color: rgb(76, 76, 76);
    transform: scale(1.05);
}

.pregame a {
    text-decoration: none;
}

.pregame a button {
    margin-bottom: 20px;
}

.pregame ul {
    list-style-type: none;
    padding: 0;
}

.pregame li {
    background-color: white;
    margin: 10px auto;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    align-items: center;
    max-width: 80%;
    text-align: center;
    position: relative;
}


.locks {
    width: 1rem;
    height: 1rem;
    margin-right: 5%;
}
.gameItem {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 10px;
    align-items: center;
    width: 100%;
}
