@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

.Login {
    width: 747px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #ffffff;

  }

  .Login form label {
    display: flex;
    flex-direction: column;
    font-size: large;
    font-weight: 300;
    align-items: start;
  }

.textoinput{
  text-align: left;
  color: #333;
  align-items: start;
}

  .Login form input[type="text"],
  .Login form input[type="email"],
  .Login form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    background-color: rgba(217, 217, 217, 1);
    color: #333;
    border-radius: 10px;
  }

  .Login form input[type="submit"] {
    background-color: rgba(109, 109, 109, 1);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: large;
    cursor: pointer;
    font-family: 'Outfit', sans-serif;
  }

  .Login form input[type="submit"]:hover {
    background-color: rgb(65, 65, 65);
  }

  .error {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ff4d4d; /* red */
    border-radius: 5px;
    color: #ff4d4d; /* red */
    background-color: #ffe6e6; /* light red */
    text-align: center;
  }

  /* Overlay styles */


/* Popup styles */
.popup {
  position: fixed; /* Fix popup to viewport to avoid DOM flow issues */
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  width: 80%;
  max-width: 400px;
  text-align: center; /* Center text inside popup */
}

.successMsg {
  font-size: 18px;
  color: #333; /* Neutral text color */
}

a {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}